continut/validate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persoane">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="persoana" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nume"/>
              <xs:element type="xs:string" name="prenume"/>
              <xs:element type="xs:byte" name="varsta"/>
              <xs:element name="adresa">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="strada"/>
                    <xs:element type="xs:byte" name="numar"/>
                    <xs:element type="xs:string" name="localitate"/>
                    <xs:element type="xs:string" name="judet"/>
                    <xs:element type="xs:string" name="tara"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="studii">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="liceal">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="denumire"/>
                          <xs:element name="adresa">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="strada"/>
                                <xs:element type="xs:byte" name="numar"/>
                                <xs:element type="xs:string" name="localitate"/>
                                <xs:element type="xs:string" name="judet"/>
                                <xs:element type="xs:string" name="tara"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="universitar">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="denumire"/>
                          <xs:element name="adresa">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="strada"/>
                                <xs:element type="xs:byte" name="numar"/>
                                <xs:element type="xs:string" name="localitate"/>
                                <xs:element type="xs:string" name="judet"/>
                                <xs:element type="xs:string" name="tara"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>